*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 20px;
    font-weight: 600;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu{
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 40px;
   padding: 40px 10px;
}
.card img{
    height: 200px;
}
.some{
    margin: auto;
padding: 20px 40px;
    width: 100%;
}

.row{
    margin: auto;
    padding:80px 40px;
  
    background-color: black;
    border-radius: 8px;
}
label{
    color: white;
}
.some h1{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.container{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 50px 0;
    width: 100%;
}
.container >img{
    width: 50%;
    height: 300px;
    border-radius: 5px;
}
.sub h3{
    position: relative;
}
.sub h3::after{
    content : "";
    position : absolute;
    width : 10%;
    height : 3px;
    background: green;
		  
   
    bottom: -8px; 
    left: 0;
}
.sub p{
    padding-top: 20px;
    text-indent: 50px;
  line-height: 25px;
  text-align: justify;
}

.navbar-nav{
    display: flex;
    gap: 50px;
   
}
.nav-item{
    color: white;
}